:root{ --section-background-color: linear-gradient(to bottom left,hsla(0,3%,6%,.582),rgba(12,8,24,.904));
    --image-gradient: linear-gradient(to bottom left,hsla(0,3%,6%,.678),rgba(12,10,22,.863));
    --imp-text-color: #c770f0;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #20172e !important; */
    background-color: #13101a !important;
    /* background-color: #1a1429 !important; */
    overflow-x: hidden;
    position: relative;
}
.nav-button{
    background-color: #613381;
    border: 1px solid black;
    color: #ffffff;
}
.navbar-brand{
    color: #c25aea !important;
    font-size: 30px !important;
    font-weight: 900;
}
.nav-item a{
    font-size: 19px;
}
.icon i{
    color: var(--imp-text-color) !important;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 15px;
}
span{
    color: var(--imp-text-color);
}
.nav-item:hover{
    border-bottom: 3px solid #c25aea;
}
.home{
    background-image: var(--image-gradient),url(../images/home-bg.dc52d5d40a40b13154b0.jpg);
    background-repeat: no-repeat;
    padding-top: 30px;
    position: relative;
}
.home-about{
    padding-top: 30px;
    background-color: #1a1429;
}
.footer{
    background-color: black !important;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
}
.about-para{
    font-size: 18px;
    word-spacing: 3px;
}
.hidden{
    /* display: none; */
}
.about{
    margin-top: 150px;
    background-color: #13101a;
}
.quote h6, small{
    color: #9b7eac;
}
.skill-item{
    border: 1.7px solid rgba(200,137,230,.637)!important;
    border-radius: 5px!important;
    box-shadow: 4px 5px 4px 3px rgba(89,4,168,.137)!important;
    display: table!important;
    font-size: 4.5em!important;
    margin: 15px!important;
    opacity: .93!important;
    overflow: hidden!important;
    padding: 10px!important;
    text-align: center!important;
    transition: all .4s ease 0s!important;
    vertical-align: middle!important;
}
.card-body {
    word-wrap: break-word;
    background-clip: border-box;
    /* background-color: #fff; */
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}
.project-card-view {
    background-color: transparent!important;
    box-shadow: 0 4px 10px 3px rgba(119,53,136,.459)!important;
    color: #fff!important;
    height: 100%!important;
    opacity: .9!important;
    transition: all .5s ease 0s!important;
}
.card-body p{
    text-align: justify;
    padding: 15px;
}
.cv-btn{
    background-color: #613381 !important;
    color: #fff !important;
}